<div class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg" style="width: 600px;">
    <h1 class="text-center text-2xl font-semibold mb-4">{{ taskToEdit ? 'Edit Task' : 'New Task' }}</h1>


    <hr class="mb-6" />
  
    <form #taskForm="ngForm" (ngSubmit)="submitForm(taskForm)" novalidate>
        
      <div class="flex mb-4">
        <div class="w-1/2 pr-2">
          <label for="assignedTo" class="block text-sm font-medium text-gray-700">
            Assigned To:<span class="text-red-500">*</span>
          </label>
          <select id="assignedTo" [(ngModel)]="assignedTo" name="assignedTo" required
                  class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-300">
            <option value="" disabled selected>Select a user</option>
            <option>User1</option>
            <option>User2</option>
            <option>User3</option>
            <option>User4</option>
            <option>User5</option>
          </select>
          <div *ngIf="taskForm.submitted && !assignedTo" class="text-red-500 text-sm" required>Assigned To </div>
        </div>
  
        <div class="w-1/2 pl-2">
          <label for="status" class="block text-sm font-medium text-gray-700">
            Status:<span class="text-red-500">*</span>
          </label>
          <select id="status" [(ngModel)]="status" name="status" required
                  class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-300">
            <option value="" disabled selected>Select a status</option>
            <option>Completed</option>
            <option>In Progress</option>
            <option>Not Started</option>
          </select>
          <div *ngIf="taskForm.submitted && !status" class="text-red-500 text-sm">Status is required.</div>
        </div>
      </div>
  
      <div class="flex mb-4">
        <div class="w-1/2 pr-2">
          <label for="dueDate" class="block text-sm font-medium text-gray-700">
            Due Date:
          </label>
          <input type="date" id="dueDate" [(ngModel)]="dueDate" name="dueDate" 
                 class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-300" />
          <div *ngIf="taskForm.submitted && !dueDate" class="text-red-500 text-sm">Due Date is required.</div>
        </div>
        <div class="w-1/2 pl-2">
          <label for="priority" class="block text-sm font-medium text-gray-700">
            Priority:<span class="text-red-500">*</span>
          </label>
          <select id="priority" [(ngModel)]="priority" name="priority" required
                  class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-300">
            <option value="" disabled selected>Select a priority</option>
            <option>High</option>
            <option>Normal</option>
            <option>Low</option>
          </select>
          <div *ngIf="taskForm.submitted && !priority" class="text-red-500 text-sm">Priority is required.</div>
        </div>
      </div>
  
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">
          Description:
        </label>
        <textarea id="description" [(ngModel)]="description" name="description" 
                  class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-300" rows="4"></textarea>
        <div *ngIf="taskForm.submitted && !description" class="text-red-500 text-sm">Description is required.</div>
      </div>
  
      <div class="flex justify-end space-x-4">
        <button (click)="close.emit()" type="button" class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded">Cancel</button>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Save</button>
    </div>
    </form>
  </div>
  